.successMessage {
    width: 640px;
    height: 488px;
    border: 1px solid #dadde1;
    border-radius: 10px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rentalForm {
    width: 640px;
    border: 1px solid #dadde1;
    border-radius: 10px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.rentalForm button {
    width: 156px;
    margin: 0 auto;
}

.rentalForm button:hover,
.rentalForm button:focus {
    background-color: #0b44cd;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.text h2 {
    font-weight: 600;
font-size: 20px;
line-height: 1.2;
color: #101828;

}

.text p {
    font-weight: 500;
font-size: 16px;
line-height: 1.25;
color: #8d929a;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inputs input,
.inputs textarea {
    border-style: none;
    border-radius: 12px;
    background: #f7f7f7;
    width: 576px;
    padding: 0 24px;
}

.inputs input {
    height: 48px;
}

.error {
    color: red;
    font-size: 12px;
    padding-left: 24px;
}

.inputs textarea {
    resize: none;
    height: 88px;
    padding-top: 12px;
}

.inputs textarea:focus {
    outline: none;
}

